<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2><strong>Scheduled Events</strong></h2>
</div>
<br/>
<div class="container">
    <div class="row col-xs-12">
        <h4>
            <strong>
                Upcoming Tee Times ({{ scheduledTeeTimes.length }}):
            </strong>
        </h4>
        <br />
    </div>
    <div class="row">
        <div class="row col-xs-12">
            <small>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>Date and Time</th>
                        <th>Course</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Player 3</th>
                        <th>Player 4</th>
                        <th>Fees</th>
                        <th>Notes</th>
                    </tr>
                    <tr ng-repeat="teeTime in scheduledTeeTimes | orderBy:'dateTime': false">
                        <td>{{ teeTime.dateTime | date: 'yyyy.MM.dd @ h:mm a' }}</td>
                        <td>{{ teeTime.courseTag }}&nbsp;
                            <font color="00ff00">
                                <a href="/viewCourse/{{ teeTime.courseId }}">
                                    <span class="glyphicon glyphicon-info-sign"
                                          aria-hidden="true">
                                    </span>
                                </a>
                            </font>                            
                        </td>
                        <td>{{ teeTime.playerName[0] }}</td>
                        <td>{{ teeTime.playerName[1] }}</td>
                        <td>{{ teeTime.playerName[2] }}</td>
                        <td>{{ teeTime.playerName[3] }}</td>
                        <td>$ {{ teeTime.fees | number: 2 }}</td>
                        <td>{{ teeTime.notes }}</td>
                        <td>
                            <font color="00ff00">
                                <a href="/editTeeTime/{{ teeTime._id }}">
                                <span class="glyphicon glyphicon-pencil"
                                      aria-hidden="true">
                                </span>
                            </font>
                        </td>
                        <td>
                            <font color="ff0000">
                                <span class="glyphicon glyphicon-trash" 
                                      aria-hidden="true" 
                                      ng-click="removeEvent(teeTime._id)">
                                </span>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font color="ff0000">
                                <a class="glyphicon glyphicon-plus-sign" 
                                   aria-hidden="true" 
                                   href="/addTeeTime"></a>
                                </span>
                            </font>
                            Add Tee Time
                        </td>
                    </tr>
                </table>
            </small>
        </div>
    </div>
    <br/><br/>
    <div class="row col-xs-12">
        <h4>
            <strong>
                Past Tee Times ({{ pastTeeTimes.length }}):
            </strong>
        </h4>
        <br />
    </div>
    <div class="row">
        <div class="row col-xs-12">
            <small>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>Date and Time</th>
                        <th>Course</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Player 3</th>
                        <th>Player 4</th>
                        <th>Fees</th>
                        <th>Notes</th>
                    </tr>
                    <tr ng-repeat="teeTime in pastTeeTimes | orderBy:'dateTime' : true">
                        <td>{{ teeTime.dateTime | date: 'yyyy.MM.dd @ h:mm a' }}</td>
                        <td>{{ teeTime.courseTag }}&nbsp;
                            <font color="00ff00">
                                <a href="/viewCourse/{{ teeTime.courseId }}">
                                    <span class="glyphicon glyphicon-info-sign"
                                          aria-hidden="true">
                                    </span>
                                </a>
                            </font>
                        </td>
                        <td>{{ teeTime.playerName[0] }}</td>
                        <td>{{ teeTime.playerName[1] }}</td>
                        <td>{{ teeTime.playerName[2] }}</td>
                        <td>{{ teeTime.playerName[3] }}</td>
                        <td>$ {{ teeTime.fees | number: 2 }}</td>
                        <td>{{ teeTime.notes }}</td>
                        <td>
                            <font color="00ff00">
                                <a href="/editTeeTime/{{ teeTime._id }}">
                                <span class="glyphicon glyphicon-pencil"
                                      aria-hidden="true">
                                </span>
                            </font>
                        </td>
                        <td>
                            <font color="ff0000">
                                <span class="glyphicon glyphicon-trash" 
                                      aria-hidden="true"
                                      ng-click="removeEvent(teeTime._id)">
                                </span>
                            </font>
                        </td>
                    </tr>
                </table>
            </small>
        </div>
    </div>
</div>