<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h3>Events</h3><br/>
    
    <div class="col-xs-12">
        <h4>Future Tee Times ({{ scheduledTeeTimes.length }})</h4>
        
        <div class="col-xs-12" ng-show="futureEventsFound">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                </tr>
                <tr ng-repeat="teeTime in scheduledTeeTimes | orderBy:'dateTime': false">
                    <td><a href="/editTeeTime/{{ teeTime._id }}">{{ teeTime.dateTime | date: 'shortDate' }}</a></td>
                    <td><a href="/viewCourse//{{ teeTime.courseId }}">{{ teeTime.courseTag }}</a></td>
                </tr>
            </table>
            <br/>
        </div>
        <div class="col-xs-12" ng-hide="futureEventsFound">
            <small>
                <p>Schedule new tee times through "Courses" function.</p>
            </small>
        </div>
    </div>
    
    <div class="col-xs-12" ng-show="pastEventsFound">
        <h4>
            Past Tee Times ({{ pastTeeTimes.length }})
        </h4>
        <div class="col-xs-12">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                </tr>
                <tr ng-repeat="teeTime in pastTeeTimes | orderBy:'dateTime' : true">
                    <td><a href="/editTeeTime/{{ teeTime._id }}">{{ teeTime.dateTime | date: 'shortDate' }}</a></td>
                    <td><a href="/viewCourse/{{ teeTime.courseId }}">{{ teeTime.courseTag }}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>