<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div  class="col-md-6">
        <h2>
            <strong>Registered Players ({{ players.length }})</strong>
        </h2>
        <br/>
        <small>
            <p>Click on the <font color="0000ff"><strong>blue</strong></font> column headers below to sort the list; click again to reverse the sort.</p>
        </small>
        <br/>
        <table class="table table-condensed table-bordered">
            <tr>
                <th ng-click="doSort('lastName')"><font color="0000FF">Player Name</font></th>
                <th ng-click="doSort('email')"><font color="0000FF">Email</font></th>
                <th>Phone</th>
            </tr>
            <tr ng-repeat="player in players | orderBy:pSortBy:pReverse">
                <td>{{ player.lastName}}, {{ player.firstName }}</td>
                <td>{{ player.email }}</td>
                <td>{{ player.phone }}</td>
                <td>
                    <font color="0000ff">
                        <a href="/viewPlayer/{{ player._id }}">
                        <span class="glyphicon glyphicon-info-sign"
                              aria-hidden="true">
                        </span>
                    </font>
                </td>
            </tr>

        </table>
    </div>
</div>