<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <h4>
            <strong>
                Course Details: &nbsp;
                    <a href="/editCourse/{{ course._id }}">{{ course.tag }}</a>
            </strong>
        </h4>
    </div>
    <div class="mb30 well">
        <p>{{ course.name }}</p>
        <p>{{ course.street }}</p>
        <p>{{ course.city }}, {{ course.state}} {{ course.zip }}</p>
        <p>{{ course.phone }}</p>
        <p><a target=”_blank” href="{{ course.web }}">{{ course.web}}</a></p>
        <a href="addTeeTime/{{course._id}}">Setup Tee Time</a>
    </div>
    <div>
        <h6><strong>Tee Boxes:</strong></h6>
        <small>
            <table class="table table-condensed table-responsive">
                <tr>
                    <th>Tee</th>
                    <th>Rating</th>
                    <th>Slope</th>
                    <th>Par</th>
                    <th>Yards</th>
                </tr>
                <tr ng-repeat="tee in tees">
                    <td style="text-align:left">
                        <a href="/editTeeBox/{{ tee._id }}">{{ tee.teeName }}</a>
                    </td>
                    <td>{{ tee.rating | number:1 }}</td>
                    <td>{{ tee.slope | number:0 }}</td>
                    <td>{{ course.par[20] }}</td>
                    <td>{{ tee.yds[20] | number:0 }}</td>

                </tr>
                <tr>
                    <td>
                        <span><a class="glyphicon glyphicon-plus-sign" 
                           aria-hidden="true" 
                           href="/addTeeBox/{{ course._id }}">&nbsp;Add</a>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/addTeeTime/{{course._id}}"</td>
                </tr>

            </table>
        </small>
    </div>
<br/>
    <div class="col-md-6">
        <h6><strong>Front 9:</strong></h6>
        <small>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Hdcp</td>
                        <td>{{ course.hcp[0] }}</td>
                        <td>{{ course.hcp[1] }}</td>
                        <td>{{ course.hcp[2] }}</td>
                        <td>{{ course.hcp[3] }}</td>
                        <td>{{ course.hcp[4] }}</td>
                        <td>{{ course.hcp[5] }}</td>
                        <td>{{ course.hcp[6] }}</td>
                        <td>{{ course.hcp[7] }}</td>
                        <td>{{ course.hcp[8] }}</td>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>Par</td>
                        <td>{{ course.par[0] }}</td>
                        <td>{{ course.par[1] }}</td>
                        <td>{{ course.par[2] }}</td>
                        <td>{{ course.par[3] }}</td>
                        <td>{{ course.par[4] }}</td>
                        <td>{{ course.par[5] }}</td>
                        <td>{{ course.par[6] }}</td>
                        <td>{{ course.par[7] }}</td>
                        <td>{{ course.par[8] }}</td>
                        <td>{{ course.par[18] }}</td>
                    </tr>
                    <tr ng-repeat="tee in tees">
                        <td style="text-align:left">{{ tee.teeName }}</td>
                        <td>{{ tee.yds[0] }}</td>
                        <td>{{ tee.yds[1] }}</td>
                        <td>{{ tee.yds[2] }}</td>
                        <td>{{ tee.yds[3] }}</td>
                        <td>{{ tee.yds[4] }}</td>
                        <td>{{ tee.yds[5] }}</td>
                        <td>{{ tee.yds[6] }}</td>
                        <td>{{ tee.yds[7] }}</td>
                        <td>{{ tee.yds[8] }}</td>
                        <td>{{ tee.yds[18] | number:0 }}</td>
                    </tr>
                </table>
            </div>
        </small>
    </div>
    <div class="col-md-6">
        <small>
            <h6><strong>Back 9:</strong></h6>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th></th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>Total</th>
                     </tr>
                    <tr>
                        <td>Hdcp</td>
                        <td>{{ course.hcp[9] }}</td>
                        <td>{{ course.hcp[10] }}</td>
                        <td>{{ course.hcp[11] }}</td>
                        <td>{{ course.hcp[12] }}</td>
                        <td>{{ course.hcp[13] }}</td>
                        <td>{{ course.hcp[14] }}</td>
                        <td>{{ course.hcp[15] }}</td>
                        <td>{{ course.hcp[16] }}</td>
                        <td>{{ course.hcp[17] }}</td>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>Par</td>
                        <td>{{ course.par[9] }}</td>
                        <td>{{ course.par[10] }}</td>
                        <td>{{ course.par[11] }}</td>
                        <td>{{ course.par[12] }}</td>
                        <td>{{ course.par[13] }}</td>
                        <td>{{ course.par[14] }}</td>
                        <td>{{ course.par[15] }}</td>
                        <td>{{ course.par[16] }}</td>
                        <td>{{ course.par[17] }}</td>
                        <td>{{ course.par[19] }}</td>
                    </tr>
                    <tr ng-repeat="tee in tees">
                        <td style="text-align:left">{{ tee.teeName }}</td>
                        <td>{{ tee.yds[9] }}</td>
                        <td>{{ tee.yds[10] }}</td>
                        <td>{{ tee.yds[11] }}</td>
                        <td>{{ tee.yds[12] }}</td>
                        <td>{{ tee.yds[13] }}</td>
                        <td>{{ tee.yds[14] }}</td>
                        <td>{{ tee.yds[15] }}</td>
                        <td>{{ tee.yds[16] }}</td>
                        <td>{{ tee.yds[17] }}</td>
                        <td>{{ tee.yds[19] | number:0 }}</td>
                </table>
            </div>
        </small>
    </div>

    <br/>
    <div class="col-md-8" ng-show="roundsFound">
        <small>
            <h6>
                <strong>
                    Posted Rounds ({{ rounds.length }}):
                </strong>
            </h6>
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th style="text-align:center">Date</th>
                        <th style="text-align:center">Player</th>
                        <th style="text-align:center">Score</th>
                        <th style="text-align:center">Hcp</th>
                        <th style="text-align:center">Net</th>
                    </tr>
                    <tr ng-repeat="round in rounds | orderBy:'date':'true'">
                        <td>{{ round.date | date: 'shortDate' }}</td>
                        <td>{{ round.playerName }}</td>
                        <td>{{ round.grossScore[20] }}</td>
                        <td>{{ round.crsHdcp }}</td>
                        <td>{{ round.netScore }}</td>
                    </tr>
                </table>
            </div>
        </small>
    </div>
</div>