<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container col-xs-12">
    <div class="col-xs-12">
        <h2><strong>Courses ({{ courses.length }})</strong></h2>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-4">&nbsp;</div>
    <div class="col-xs-8">
                <a class="btn btn-primary" href="/addCourse">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    &nbsp;Add a Course
                </a>
    </div>
    <div class="col-xs-12">&nbsp;</div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th ng-click="doSort('tag')" style="text-align:center">
                        Name &nbsp;
                        <span class="glyphicon glyphicon-sort"
                              aria-hidden="true">
                        </span>
                    </th>
                    <th ng-click="doSort('city')" style="text-align:center">
                        City &nbsp;
                        <span class="glyphicon glyphicon-sort"
                              aria-hidden="true">
                        </span>
                    </th>
                 </tr>
                <tr>
                    <td><input type="text" ng-model="courseFilter.tag" /></td>
                    <td><input type="text" ng-model="courseFilter.city" /></td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses | filter:courseFilter | orderBy:cSortBy:cReverse">
                        <td>
                            <a href="/viewCourse/{{ course._id }}">{{ course.tag }}</a>
                        </td>
                        <td>
                            {{ course.city }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>