<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-md-12">
        <h4><strong>Edit Round for {{ playerName }}</strong></h4>
        <h5>{{ round.courseTag }} at {{ round.date | date:'h:mm a on d-MMM-yyyy' }}</h5>
        <p>Course/Slope: {{ hcpData.courseRating | number:1 }}/{{ hcpData.slopeRating | number:1 }}</p>

        <!--             Form labels and input fields for holes 1-18 -->
        <form class="form-horizontal" ng-submit="updateRound()">
            <div class="row">
                <div class="form-group">
                    <label for="inputTee" class="col-xs-5 col-sm-4 col-md-3 col-lg-2 control-label">Tee:</label>
                    <div class="col-xs-7">
                        <select ng-model="round.teeId"
                                ng-options="tee._id as tee.teeName for tee in tees"
                                ng-change="updateHcpParms()">
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <p><strong>Scores:</strong></p>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">1</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[0]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">2</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[1]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">3</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[2]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">4</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[3]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">5</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[4]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">6</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[5]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">7</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[6]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">8</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[7]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">9</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[8]">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">10</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[9]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">11</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[10]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">12</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[11]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">13</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[12]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">14</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[13]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">15</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[14]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">16</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[15]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">17</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[16]">
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label class="ydg-label">18</label>
                        <input type="number" class="form-control" ng-model="round.grossScore[17]">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 col-md-9">
                        <label>Notes:</label>
                        <textarea type="text" class="form-control" rows="3" ng-model="round.notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-2">
                        <span class="btn btn-success" 
                              ng-click="playRound(round._id)">
                            Play
                        </span>
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-2">
                        <span class="btn btn-danger" 
                              ng-click="removeRound(round._id)">
                            Delete
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>