@media (max-width: 768px) {
    /* 
    body {
        font-size: 4em !important;   
    }
    */
    .tiny {
        font-size: 0.85em;    
    }

    .big {
        font-size: 1.5em;    
    }

    .huge {
        font-size: 2.0em;
    }
    
    
}

.ctr-text {
    text-align: center;   
}

.left-text {
    text-align: left;   
}

.right-text {
    text-align: right;
}