<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2 class="ctr-text"><strong>{{ round.courseTag }}</strong> ({{ round.teeName }})</h2>
    <div class="col-xs-12">&nbsp;</div>    
    <div class="container">
        <div class="col-xs-4">
             <span class="btn btn-primary big" ng-click="prevHole()">&lt; Prev</span>
        </div>
        <div class="col-xs-3 big">
            <p class="ctr-text huge"><strong>{{ hole }}</strong></p>
        </div>
        <div class="col-xs-3">
             <span class="btn btn-primary big" ng-click="nextHole()">Next &gt;</span>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="container">
        <div class="col-xs-12 big" ng-show="locAvail">
            <p class="huge ctr-text"><strong>{{ yardage | number: 0 }} (&plusmn; {{ accuracy | number: 0 }}) yd</strong></p>
        </div>
    </div>
    <div class="col-xs-12" ng-hide="locAvail">
        <p class="big ctr-text"><strong>Location Info Unavailable</strong></p>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="container col-xs-12 big">
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-2">
             <span class="btn btn-danger big" ng-click="minusOne()">&minus;</span>   
        </div>
        <div class="col-xs-3">
            <p class="ctr-text huge"><strong>{{ score | number: 0 }}</strong></p>
        </div>
        <div class="col-xs-2">
             <span class="btn btn-success big" ng-click="plusOne()">&#43;</span> 
        </div>
    </div>
    <div class="well col-xs-12">
        <table class="table table-responsive table-bordered big" style="text-align: left">
            <tr>
                <td><strong>Par:</strong></td>
                <td class="ctr-text">{{ par }}</td>
            </tr>
            <tr>
                <td><strong>Hdcp:</strong></td>
                <td class="ctr-text">{{ hcp }}</td>
            </tr>
            <tr>
                <td><strong>Length:</strong></td>
                <td class="ctr-text">{{ length }}</td>
            </tr>
        </table>
    </div>

    <div class="col-xs-12">&nbsp;</div>
    <div class="container col-xs-12" ng-show="locAvail">
        <small>
            <table class="table table-responsive" style="text-align: left">
                <tr>
                    <td><strong>Latitude:</strong></td>
                    <td>{{ position.coords.latitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Logitude:</strong></td>
                    <td>{{ position.coords.longitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Accuracy:</strong></td>
                    <td>&PlusMinus; {{ position.coords.accuracy * 1.09361 | number: 0}} yds</td>
                </tr>
                <tr ng-show="altAvail">
                    <td><strong>Elevation:</strong></td>
                    <td>{{ position.coords.altitude * 1.09361 * 3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 | number: 0 }} Feet</td>
                </tr>
                <tr>
                    <td><strong>Updated:</strong></td>
                    <td>{{ position.timestamp | date: 'yyyy-MM-dd hh:mm:ss a' }}</td>
                </tr>
            </table>
        </small>    
    </div>
    <div class="col-xs-2">&nbsp;</div>
    <div class="col-xs-4">
        <span class="btn btn-success big" ng-click="endRound()">Finish</span>
    </div>
    <div class="col-xs-4">
        <span class="btn btn-danger big" ng-click="removeThisActiveRound()">Delete</span>
    </div>
</div> <!-- end outer container -->

<div class="col-xs-12">{{message}}</div>