<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h4><strong>{{ courseTag }}</strong> - {{ teeName }} Tees</h4>
    <h4><strong>Hole #:&nbsp;&nbsp;{{ hole }}</strong></h4>
    
    <div class="container">
        <div class="col-xs-4" ng-hide="firstHole">
             <span class="btn btn-primary" ng-click="prevHole()">&LT;- Hole {{ hole - 1 }}</span>   
        </div>
        <div class="col-xs-4" ng-show="firstHole">
             <span class="btn btn-primary" ng-click="prevHole()">&LT;- Hole 18</span>   
        </div>
        <div class="col-xs-4">
            <span class="btn btn-success" ng-click="saveRound()">Save</span>
        </div>
        <div class="col-xs-4" ng-hide="lastHole">
             <span class="btn btn-primary" ng-click="nextHole()">Hole {{ hole + 1 }} -&GT;</span>   
        </div>
        <div class="col-xs-4" ng-show="lastHole">
             <span class="btn btn-primary" ng-click="nextHole()">Hole 1 -&GT;</span>   
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="well col-xs-12">
        <table class="table table-responsive" style="text-align: left">
            <tr>
                <td><strong>Par:</strong></td>
                <td>{{ par }}</td>
            </tr>
            <tr>
                <td><strong>Length:</strong></td>
                <td>{{ length }}</td>
            </tr>
            <tr>
                <td><strong>Range:</strong></td>
                <td>{{ yardage | number: 0 }} &PlusMinus; {{ position.coords.accuracy * 1.09361 | number: 0 }} yds</td>
            </tr>
            <tr ng-show="altAvail">
                <td><strong>Elevation:</strong></td>
                <td>{{ position.coords.altitude * 1.09361 *3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 | number: 0 }} ft</td>
            </tr>
            <tr>
                <td><strong>Score:</strong></td>
                <td><strong>{{ score | number: 0 }}</strong></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="col-xs-4">&nbsp;</div>
        <div class="col-xs-2">
             <span class="btn btn-danger" ng-click="minusOne()">-</span>   
        </div>
        <div class="col-xs-2">
            <span class="btn btn-success" ng-click="plusOne()">+</span>
        </div>
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-3">
            <span class="btn btn-danger" ng-click="setGreenCenter()">Green Loc</span>
        </div>
    </div>

    <div class="col-xs-12">&nbsp;</div>
    <div class="well col-xs-8">
        <small>
            <table class="table table-responsive" style="text-align: left">
                <tr>
                    <td><strong>Latitude:</strong></td>
                    <td>{{ position.coords.latitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Logitude:</strong></td>
                    <td>{{ position.coords.longitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Accuracy:</strong></td>
                    <td>&PlusMinus; {{ position.coords.accuracy * 1.09361 }} Yards</td>
                </tr>
                <tr ng-show="altAvail">
                    <td><strong>Elevation:</strong></td>
                    <td>{{ position.coords.altitude * 1.09361 * 3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 | number: 0 }} Feet</td>
                </tr>
                <tr>
                    <td><strong>Updated:</strong></td>
                    <td>{{ position.timestamp | date: 'yyyy-MM-dd hh:mm:ss a' }}</td>
                </tr>
            </table>
        </small>    
    </div>
</div> <!-- end outer container -->