<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2><strong>{{ round.courseTag }}</strong> - {{ round.teeName }} Tees</h2>
    
    <div class="container">
        <div class="col-xs-4" ng-hide="firstHole">
             <span class="btn btn-primary big" ng-click="prevHole()">&LT;- {{ hole }}</span>   
        </div>
        <div class="col-xs-4" ng-show="firstHole">
             <span class="btn btn-primary big" ng-click="prevHole()">&LT;- 18</span>   
        </div>
        <div class="col-xs-4">
            <p class="huge ctr-text"><strong>{{ hole + 1 }}</strong></p>
        </div>
        <div class="col-xs-4" ng-hide="lastHole">
             <span class="btn btn-primary big" ng-click="nextHole()">{{ hole + 2 }} -&GT;</span>   
        </div>
        <div class="col-xs-4" ng-show="lastHole">
             <span class="btn btn-primary big" ng-click="nextHole()">1 -&GT;</span>   
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-12">
        <strong>
            <p class="huge ctr-text">{{ yardage | number: 0 }} &PlusMinus; {{ position.coords.accuracy * 1.09361 | number: 0 }} yds</strong></p>
            <p class="huge ctr-text">{{ elevation * 1.09361 * 3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 }} ft</p>
         </strong>
    </div>
    <div class="container col-xs-12">
        <table class="table table-responsive big" style="text-align: left">
            <tr>
                <td><strong>Par:</strong></td>
                <td>{{ par }}</td>
            </tr>
            <tr>
                <td><strong>Hdcp:</strong></td>
                <td>{{ hcp }}</td>
            </tr>
            <tr>
                <td><strong>Length:</strong></td>
                <td>{{ length }}</td>
            </tr>
            <tr ng-show="altAvail">
                <td><strong>Elevation:</strong></td>
                <td>{{ position.coords.altitude * 1.09361 *3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 | number: 0 }} ft</td>
            </tr>
            <tr>
                <td><strong>Score:</strong></td>
                <td><strong>{{ score | number: 0 }}</strong></td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="col-xs-3">
            <span class="btn btn-default huge" ng-click="setGreenCenter()">Loc</span>
        </div>
        <div class="col-xs-3">
            <span class="btn btn-primary huge" ng-click="saveRound()">Save</span>            
        </div>
        <div class="col-xs-2">
             <span class="btn btn-danger huge" ng-click="minusOne()">&nbsp;-&nbsp;</span>   
        </div>
        <div class="col-xs-2">
            <span class="btn btn-success huge" ng-click="plusOne()">&nbsp;+&nbsp;</span>
        </div>
    </div>

    <div class="col-xs-12">&nbsp;</div>
    <div class="container col-xs-8">
        <small>
            <table class="table table-responsive" style="text-align: left">
                <tr>
                    <td><strong>Latitude:</strong></td>
                    <td>{{ position.coords.latitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Logitude:</strong></td>
                    <td>{{ position.coords.longitude | number: 6}}</td>
                </tr>
                <tr>
                    <td><strong>Accuracy:</strong></td>
                    <td>&PlusMinus; {{ position.coords.accuracy * 1.09361 | number: 0}} Yards</td>
                </tr>
                <tr ng-show="altAvail">
                    <td><strong>Elevation:</strong></td>
                    <td>{{ position.coords.altitude * 1.09361 * 3 | number: 0 }} &PlusMinus; {{ position.coords.altitudeAccuracy * 1.09361 * 3 | number: 0 }} Feet</td>
                </tr>
                <tr>
                    <td><strong>Updated:</strong></td>
                    <td>{{ position.timestamp | date: 'yyyy-MM-dd hh:mm:ss a' }}</td>
                </tr>
            </table>
        </small>    
    </div>
</div> <!-- end outer container -->