<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="addTeeTime()">
            <div class="row">
                <div class="col-xs-4">
                    <h4>
                        <strong>
                            Add a {{ event.eventType }} Event
                        </strong>
                    </h4>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <label for="date" class="col-xs-1 control-label">Date/Time:</label>
                    <div class="col-xs-3">
                        <input type="datetime-local" class="form-control col-xs-2" ng-model="event.dateTime">
                    </div>
                    <div class="col-xs-1"></div>
                    <div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
            <!--             Form label and input field for Course input  -->
            <div class="row">
                <div class="form-group">
                    <label for="crs" class="col-xs-1 control-label">Course:</label>
                    <div class="col-xs-3">
                        <select ng-model="event.courseId"
                                ng-options="course._id as course.tag for course in courses">
                        </select>
                    </div>
                 </div>
            </div>
            <!--             Form label and textarea field for Fees input -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-1 control-label">Fees:</label>
                    <div class="col-xs-2">
                        <input type="number" min="0.01" step="0.01" max="999" class="form-control col-xs-2" ng-model="event.fees" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!--             Form label and input field for Players input  -->
                <div class="form-group">
                    <label class="col-xs-1 control-label">Players:</label>
                    <div class="col-xs-2">
                        <select ng-model="event.players"
                                ng-options="player._id as player.lastName for player in players"
                                multiple="multiple">
                        </select>
                        <p><small>Hold down the 'ctrl' key and click on desired names to select multiple players for this tee time.</small></p>
                    </div>
            <!--             Form label and textarea field for Notes input -->
            <div class="row">
                <div class="form-group">
                    <label for="notes" class="col-xs-1 control-label">Notes:</label>
                    <div class="col-xs-5">
    <!--                    <input type="text" class="form-control" ng-model="event.notes">                         -->
                        <textarea type="text" class="form-control" rows="3" ng-model="event.notes"></textarea>
                    </div>
                    <br/>
                </div>
            </div>
        </form>
    </div>
</div>