<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-xs-12">
        <h4>
            <strong>
                Update {{ event.eventType }}
            </strong>
        </h4>
        <br />
        <form class="form-horizontal" ng-submit="updateTeeTime()">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Date and Time:</label>
                    <div class="col-xs-8">
                        <input type="datetime-local" class="form-control" ng-model="dt"> 
                    </div>
                </div>
            </div>
            <!--             Form label and input field for Course input  -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Course:</label>
                    <div class="col-xs-8">
                        <select ng-model="event.courseId"
                                ng-options="course._id as course.tag for course in courses">
                        </select>
                    </div>
                    <br/>
                </div>
            </div>
            <!--             Form label and textarea field for Fees input -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Fees:</label>
                    <div class="col-xs-4">
                        <input type="number" min="0.01" step="0.01" max="999" class="form-control" ng-model="event.fees" />
                    </div>
                </div>
            </div>
            <!--             Form label and input field for Player 1 input  -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Players:</label>
                    <div class="col-xs-8">
                        <select ng-model="event.players"
                                ng-options="player._id as player.lastName for player in players"
                                multiple="multiple">
                        </select>
                        <p><small>ctrl-click names for multiple players</small></p>
                    </div>
                </div>
            </div>
            <!--             Form label and textarea field for Notes input -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Notes:</label>
                    <div class="col-xs-8">
    <!--                    <input type="text" class="form-control" ng-model="event.notes">                         -->
                        <textarea type="text" class="form-control" rows="3" ng-model="event.notes"></textarea>
                    </div>
                    <br/>
                </div>
            </div>
        </form>
    </div>
</div>