<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div  class="col-lg-6">
        <div class="row">
            <h3>Player Profile</h3>
        </div>
    </div>
    <div class="well">
        <table class="table table-responsive" style="text-align: left">
            <tr>
                <td><b>Name:</b></td>
                <td>{{ player.firstName }} {{ player.lastName }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ player.email }}</td>
            </tr>
            <tr>
                <td><b>Phone:</b></td>
                <td>{{ player.phone }}</td>
            </tr>
            <tr>
                <td><b>Handicap:</b></td>
                <td>
                    <span ng-hide="hdcpIndex">{{ player.hdcp | number: 1 }}</span>
                    <span ng-show="hdcpIndex">{{ hdcpIndex | number: 1 }}</span> 
                    &nbsp;&nbsp;
                    <font color="0000ff">
                    <span class="glyphicon glyphicon-refresh pointer"
                          aria-hidden="true"
                          ng-click="calcHandicap()">
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>GHIN #:</b></td>
                <td>{{ player.ghinNo }}</td>
            </tr>
        </table>
    </div>
    <div>

        <div ng-show="activeRoundsFound">
            <div>
                <h4><strong>Active Rounds</strong>&nbsp;({{ activeRounds.length }})</h4>
            </div>

            <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-responsive">
                    <tr>
                        <th class="ctr-text">Date</th>
                        <th class="ctr-text">Course</th>
                    </tr>
                    <tr ng-repeat="round in activeRounds | orderBy:'date':'true'">
                        <td>{{ round.date | date: 'MM/dd' }}</td>
                        <td>{{ round.courseTag }} - {{ round.teeName }}</td>
                        <td><a href="/playRound/{{ round._id }}">Score</a></td>
                        <td>
                            <font color="#428bca">
                                <span class="pointer" ng-click="postRound(round._id)">Post</span>
                            </font>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="eventsFound">
            <h4>
                <strong>Upcoming Tee Times</strong>&nbsp;({{ events.length }})&nbsp;<a class="btn btn-default font-small" href="/events"><font color="#428bca">See all</font></a>
            </h4>
            <table class="table table-condensed table-bordered table-striped table-responsive" style="text-align: left">
                <tr>
                    <th class="ctr-text">Date</th>
                    <th class="ctr-text">Time</th>
                    <th style="text-align:center">Event Type</th>
                    <th style="text-align:center">Location</th>
                </tr>
                <tr ng-repeat="event in events">
                    <td>{{ event.dateTime | date: 'MM/dd/yy' }}</td>
                    <td>{{ event.dateTime | date: 'h:mm a' }}</td>
                    <td>{{ event.eventType }}</td>
                    <td>{{ event.location }}</td>
                    <td><a href="/addActiveRound/{{ event._id }}">Play</a></td>
                </tr>
            </table>
        </div>

        <div>
            <h4><strong>Posted Rounds</strong>&nbsp;({{ rounds.length }})&nbsp;&nbsp;
                <span class="btn btn-default"><a href="/addRound/{{ player._id }}">Add</a></span>
            </h4>
        </div>
        
        <div class="col-lg-9" ng-show="roundsFound">
            <table class="table table-condensed table-bordered table-striped table-responsive" style="text-align:center">
                <tr>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Course</th>
                    <th style="text-align:center">Score</th>
                </tr>
                <tr ng-repeat="round in rounds | orderBy:'date':'true'">
                    <td>
                        {{ round.date | date: 'MM/dd' }}
                    </td>
                    <td style="text-align:left">
                        <a href="/editRound/{{ round._id }}">
                            {{ round.courseTag }}
                        </a>
                    </td>
                    <td>{{ round.grossScore[20] }}</td>
                </tr>
            </table>
        </div>

    </div>
</div>