<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div  class="col-lg-6">
        <div class="row">
            <h3><b>Player Profile</b>&nbsp;
                <font color="00ff00">
                    <a href="/editPlayer/{{ player._id }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </font>
            </h3>
        </div>
    </div>
    <div class="well">
        <table class="table table-responsive" style="text-align: left">
            <tr>
                <td><b>Name:</b></td>
                <td>{{ player.firstName }} {{ player.lastName }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ player.email }}</td>
            </tr>
            <tr>
                <td><b>Phone:</b></td>
                <td>{{ player.phone }}</td>
            </tr>
            <tr>
                <td><b>Handicap:</b></td>
                <td>{{ player.hdcp }} / {{ hdcpIndex }} &nbsp;
                    <font color="0000ff">
                    <span class="glyphicon glyphicon-refresh pointer"
                          aria-hidden="true"
                          ng-click="calcHandicap()">
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>GHIN #:</b></td>
                <td>{{ player.ghinNo }}</td>
            </tr>
        </table>
    </div>
    <div>

        <div ng-show="eventsFound">
            <br/>
            <h4>
                <b>
                    Upcoming Tee Times
                </b>
                &nbsp;({{ events.length }})&nbsp;
                <a class="font-small" href="/events">See all</a>
            </h4>
            <table class="table table-condensed table-bordered table-striped table-responsive" style="text-align: left">
                <tr>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Time</th>
                    <th style="text-align:center">Event Type</th>
                    <th style="text-align:center">Location</th>
                </tr>
                <tr ng-repeat="event in events">
                    <td>
                        {{ event.dateTime | date: 'MM/dd/yy' }}
                    </td>
                    <td>
                        {{ event.dateTime | date: 'h:mm a' }}
                    </td>
                    <td>
                        {{ event.eventType }}
                    </td>
                    <td>
                        {{ event.location }}
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <div>
            <h4><b>Posted Rounds</b>&nbsp;({{ rounds.length }})&nbsp;
                <small>
                    <a href="/addRound/{{ player._id }}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        Add a Round
                    </a>
                </small>
            </h4>
        </div>
        
        <div class="col-lg-9" ng-show="roundsFound">
            <table class="table table-condensed table-bordered table-striped table-responsive" style="text-align:center">
                <tr>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Course</th>
                    <th style="text-align:center">Score</th>
                </tr>
                <tr ng-repeat="round in rounds | orderBy:'date':'true'">
                    <td>
                        {{ round.date | date: 'MM/dd' }}
                    </td>
                    <td style="text-align:left">
                        <a href="/editRound/{{ round._id }}">
                            {{ round.courseTag }}
                        </a>
                    </td>
                    <td>{{ round.grossScore[20] }}</td>
                </tr>
            </table>
        </div>


    </div>
</div>